{
  "extends": ["eslint:recommended"],

  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es6": true,
  },

  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },

  "rules": {
    "no-unused-expressions": "error",
    "no-console": "off",
    "no-await-in-loop": "error",
    "no-template-curly-in-string": "error",
    "array-callback-return": "error",
    "no-var": "error",
    "class-methods-use-this": "error",
    "complexity": "error",
    "consistent-return": "error",
    "default-case": "error",
    "dot-notation": "error",
    "eqeqeq": "error",
    "guard-for-in": "error",
    "no-alert": "error",
    "no-caller": "error",
    "no-empty-function": "error",
    "no-eval": "error",
    "no-extend-native": "error",
    "no-floating-decimal": "error",
    "no-implied-eval": "error",
    "no-iterator": "error",
    "no-labels": "error",
    "no-lone-blocks": "error",
    "no-multi-spaces": "error",
    "no-multi-str": "error",
    "no-new": "error",
    "no-param-reassign": "error",
    "no-proto": "error",
    "no-return-await": "error",
    "no-script-url": "error",
    "no-self-compare": "error",
    "no-sequences": "error",
    "no-throw-literal": "error",
    "no-unmodified-loop-condition": "error",
    "no-useless-call": "error",
    "no-useless-concat": "error",
    "no-useless-return": "error",
    "no-void": "error",
    "padded-blocks": ["error", "never"],
    "radix": "error",
    "require-await": "error",
    "require-unicode-regexp": "error",
    "no-undefined": "error",
    "no-use-before-define": "error",
    "max-classes-per-file": ["error", 4],
    "curly": ["error"],
    "dot-location": ["error", "property"],
    "array-bracket-newline": ["error", "consistent"],
    "block-spacing": "error",
    "brace-style": ["error", "1tbs", { "allowSingleLine": true }],
    "comma-dangle": ["error", "always-multiline"],
    "comma-spacing": "error",
    "comma-style": "error",
    "computed-property-spacing": "error",
    "func-call-spacing": "error",
    "id-length": ["warn", { "min": 1, "max": 28}],
    "indent": ["error", 2],
    "jsx-quotes": ["error", "prefer-single"],
    "key-spacing": "error",
    "keyword-spacing": "error",
    "linebreak-style": "error",
    "max-depth": "error",
    "max-len": ["warn", { "code": 100, "ignoreComments": false }],
    "max-lines": "warn",
    "max-params": ["error", { "max": 4 }],
    "new-parens": "error",
    "no-array-constructor": "error",
    "no-bitwise": "error",
    "no-lonely-if": "error",
    "no-mixed-operators": "error",
    "no-multi-assign": "error",
    "no-new-object": "error",
    "no-plusplus": "error",
    "no-tabs": "error",
    "no-trailing-spaces": "error",
    "no-whitespace-before-property": "error",
    "object-curly-spacing": ["error", "always"],
    "one-var": ["error", "never"],
    "operator-linebreak": ["error", "after"],
    "prefer-object-spread": "error",
    "quote-props": ["error", "as-needed"],
    "semi": "error",
    "semi-spacing": "error",
    "semi-style": "error",
    "space-before-function-paren": ["error", "never"],
    "space-infix-ops": "error",
    "spaced-comment": "error",
    "switch-colon-spacing": "error",
    "template-tag-spacing": "error",
    "arrow-body-style": "error",
    "arrow-parens": ["error", "as-needed"],
    "arrow-spacing": "error",
    "no-duplicate-imports": "error",
    "no-useless-computed-key": "error",
    "no-useless-constructor": "error",
    "object-shorthand": "error",
    "prefer-arrow-callback": "error",
    "prefer-const": "error",
    "prefer-numeric-literals": "error",
    "prefer-rest-params": "error",
    "prefer-spread": "error",
    "prefer-template": "error",
    "strict": ["error", "global"],
  },

  "parser": "@babel/eslint-parser",
}
